FlightInfoClient/Service References/FlightInfoServiceReference/FlightInfoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FlightInfoEntityLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FlightInfoEntityLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFlightInfoEntity">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FlightInfoEntity" nillable="true" type="tns:FlightInfoEntity" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFlightInfoEntity" nillable="true" type="tns:ArrayOfFlightInfoEntity" />
  <xs:complexType name="FlightInfoEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Airline" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Destination" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Model" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightInfoEntity" nillable="true" type="tns:FlightInfoEntity" />
</xs:schema>