FlightInfoClient/Service References/FlightInfoServiceReference/FlightInfoService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51884/FlightInfoService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FlightInfoEntityLibrary" />
  <xs:element name="getFlightInformation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getFlightInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FlightInfoEntityLibrary" minOccurs="0" name="getFlightInformationResult" nillable="true" type="q1:ArrayOfFlightInfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFlightDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="flightID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFlightDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FlightInfoEntityLibrary" minOccurs="0" name="getFlightDetailsResult" nillable="true" type="q2:ArrayOfFlightInfoEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>